.num_et_reseau_sociaux {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 1px 20px;
}

.reseaux_sociaux a {
  display: inline-block;
  text-decoration: none;
  border-radius: 100%;
  padding: 3px;
}

.num_et_reseau_sociaux .reseaux_sociaux a i {
  padding: 10px;
  text-align: center;
  font-size: 100%;
  border-radius: 100%;
}

.facebook:hover {
  background: #3b5999;
  color: #fff;
}

.twitter:hover {
  background: #4a9cec;
  color: #fff;
}

.instagram:hover {
  background: #d6274d;
  color: #fff;
}

.linkedin:hover {
  background: #1260a2;
  color: #fff;
}

.google:hover {
  background: #ce332a;
  color: #fff;
}

.numero {
  font-size: 30px;
}

.d-block {
  height: 400px;
}

.affiche {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 20%;
  left: 10%;
  z-index: 100;
  opacity: 0.8;
  background-blend-mode: darken;
  background-color: #ce332a;
  -webkit-box-shadow: 3px 13px 36px 2px rgba(0,0,0,0.95); 
box-shadow: 3px 13px 36px 2px rgba(0,0,0,0.95);
}

.owl-carousel {
  background-color: rgb(224, 216, 232);
  margin: auto;
  padding-top: 5%;
}

.titre_card{
  text-align: center;
}

.card {
  box-shadow: 3px 13px 36px 2px rgba(0,0,0,0.95);
border-radius: 20px;
}

.container_card{
background-color: red;

padding-top: 30px;

}



.container_card img {
  display: block;
  height: 100px;
  width: 20px;
}

.tarif {
  display: flex;
  justify-content: space-between;
}

.kg,
.prix {
  font-size: 25px;
}

#section2{
  text-align: center;
  margin-top: 30px;
}

.les_images{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2%;
}

.les_images div {
  margin-bottom: 2% ;
}

.item img ,  .les_images div img{
  height: 220px;
}

#localisation{
  text-align: center;
  margin: 2%;
}

iframe{
  width: 100%;
}

